.movie-list-wrapper {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 720px;
    height: 100%;
    

    .movie-list {
        text-align: center;
        width: 100%;
        height: 100%;
        background-color: antiquewhite;
        padding: 0;
        overflow: auto;

        .load-more-button {
            margin-top: 16px;
            background-color: rgb(238, 230, 220);
        }
    }
}

